
/* global styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 64px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

/* only affecting the button in the banner not the carts*/
button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 22px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
}


#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #E3E6F3;
    /* background-color: palegreen; */
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}



#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}




#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
    
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

/* Home Page formatting starts here */

#hero{
    /* change background image once selected */
    background-color: lightgray;
    /* background-image: url(/Public/images/icons8-forest-96.png); */
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
}

#hero h1 {
    color: #088178;
}

#hero button{
    /* issues with sizing the button due to background. ask if he would like to remove it */
    background-image: url(/Public/images/button-background.png);
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 40px 30px 15px 80px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    
}

/* Features begin */

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .feature-box {
    width: 150px;
    text-align: center;
    padding: 40px 25px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 36px;
    margin: 15px 0;
}

#feature .feature-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .feature-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .feature-box h6 {
    padding: 9px 8px 6px 8px;
    display: inline-block;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#feature .feature-box:nth-child(2) h6{
    background-color: #cdebbc;
}

#feature .feature-box:nth-child(3) h6{
    background-color: #d1e8f2;
}

#feature .feature-box:nth-child(4) h6{
    background-color: #cdd4f8;
}

#feature .feature-box:nth-child(5) h6{
    background-color: #fff2e5;
}

/* Actual products begin under features */

#product1 {
    text-align: center;
}

#product1 .product-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}


#product1 .product {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.04);
    margin: 15px 0;
    transition: 0.2 ease;
    position: relative;
}

#product1 .product:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.08);
}


#product1 .product img{
    width: 100%;
    border-radius: 20px;
    max-block-size: 350px;
}

#product1 .product .description {
    text-align: start;
    padding: 10px 0;
}

#product1 .product .description span {
   color: #606063; 
   font-size: 12px;
}

#product1 .product .description h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

/* only used for the review stars if implemented
#product1 .product .description i{
    font-size: 12px;
    color: rgb(243, 181, 25);
} */

#product1 .product .description h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .product button {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

/* Banner section specifics */


#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(/Public/images/My\ project-1\ \(1\).png);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    
}

#banner h4{
    color: #fff;
    font-size: 16px;
}

#banner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span{
    color: #ef3636
}

#banner button:hover {
    background-color: #088178;
    color: #fff;
}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(/Public/images/Newsletter-background-plain.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #818ea0;
}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span{
    color: #088178;
}

#newsletter .form {
display: flex;
width: 40%;
}

/* email address section */

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 22px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
/* actual sign up button */
#newsletter button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .column {

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 13px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow .icon a{
    color: #465b52;
    padding-right: 10px;
    cursor: pointer;
}

footer .row img {
    
    border-radius: 6px;
    margin: 10px 0 15px 0;
}

footer .follow .icon:hover,
footer a:hover {
    color: #088178;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

@media (max-width:799px) {

.section-p1{
    padding: 40px 40px;
}

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgb(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #navbar.active {
        right: 0px;
    }
    #navbar li {
        margin-bottom: 25px;
    }
    #mobile {
        display: flex;
        align-items: center;
    }
    #mobile img{
        font-size: 24px;
        padding-left: 20px;
    }

    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;;
        color: #222;
        font-size: 24px;
    }

    .cart{
        display: none;
    }

    #hero{
        /* change background image once selected */
        background-color: lightgray;
        /* background-image: url(/Public/images/icons8-forest-96.png); */
        height: 70vh;
        padding: 0 80px;
       background-position: top 30% right 30%;
    }

    #feature{
        justify-content: center;
        
    }
    #feature .feature-box {
        margin: 15px 15px;
    }

    #product1 .product-container {
        justify-content: center; 
    }
    
    
    #product1 .product {
        margin: 15px;
    }
    
    #banner {
        height: 25vh;
    }

    #newsletter .form {
        width: 70%;
        }
}

@media (max-width: 477px) {

    .section-p1{
        padding: 20px;
    }

    #header {
        padding: 10px 30px;
    }
    h1 {
        font-size: 38px;
}
    h2 {
        font-size: 32px;
}

    #hero{
        padding: 0 20px;
       background-position: 55%;
    }

    #feature .feature-box {
        width: 155px;
        margin: 0 0 15px 0;
    }

    #feature {
        justify-content: space-between;
    }

    #product1 .product {
        width: 100%;
        
    }

    #banner {
        height: 40vh;
    }

    #newsletter {
        padding: 40px 20px;
    }
    
    #newsletter .form {
        width: 100%;
        }

       
}